# local final data #
######################
final_data


# local configurations to compute #
######################
local_configs_to_compute.jl


# private codes with notebooks for plots #
######################
private_codes
